<!-- templates/home.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<main>
    <div class="container my-5">
        <div class="row p-4 align-items-center rounded-3 border shadow-lg">
            <section class="py-5 text-center container">
                <div class="row py-lg-3">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Server Management Dashboard</h1>
                        <p class="lead text-body-secondary">Create, test, and manage server instances.</p>
                        <div class="input-group mb-3 mt-5">
                            <span class="input-group-text" id="inputGroup-sizing-default">input</span>
                            <input type="text" class="form-control" id="inputField" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-4 d-md-flex justify-content-center mb-4 mt-4 mb-lg-3">
                    <button type="button" class="btn btn-outline-primary btn-lg px-4" id="add-server"
                            style="min-width:200px;">Add Server
                    </button>
                    <button type="button" class="btn btn-outline-success btn-lg px-4" id="show-output"
                            style="min-width:200px; display:none;">Show Terminal
                    </button>
                </div>
            </section>
        </div>
    </div>

    <div class="py-5 bg-body-tertiary">
        <div class="container">
            <div id="no-servers" class="text-muted text-center py-5">
                <p class="lead text-body-secondary">To add servers to the dashboard, ensure the manager
                    process is running and click the "Add Server" button.</p>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="servers-container">
                <!-- Server instances will be added here -->
            </div>
        </div>
    </div>
</main>
{% endblock %}