<!-- templates/server.html -->
<div class="col">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="text-center">Server Title</h2>
            <div class="d-flex flex-column flex-md-row gap-4 py-md-3 align-items-center justify-content-center">
                <div class="list-group list-group-radio d-grid gap-2 border-0">
                    <div class="position-relative">
                        <input class="form-check-input position-absolute top-50 end-0 me-3 fs-5" type="radio" name="listGroupRadioGrid{{ serverId }}" id="listGroupRadioGrid1_{{ serverId }}" value="" onclick="toggleRadio(this, '{{ serverId }}')">
                        <label class="list-group-item rounded-3" for="listGroupRadioGrid1_{{ serverId }}">
                            <strong class="fw-semibold">Server Logs</strong>
                        </label>
                    </div>
                    <div class="position-relative">
                        <input class="form-check-input position-absolute top-50 end-0 me-3 fs-5" type="radio" name="listGroupRadioGrid{{ serverId }}" id="listGroupRadioGrid2_{{ serverId }}" value="" onclick="toggleRadio(this, '{{ serverId }}')">
                        <label class="list-group-item rounded-3" for="listGroupRadioGrid2_{{ serverId }}">
                            <strong class="fw-semibold">Heartbeat Log</strong>
                        </label>
                    </div>
                    <div class="position-relative">
                        <input class="form-check-input position-absolute top-50 end-0 me-3 fs-5" type="radio" name="listGroupRadioGrid{{ serverId }}" id="listGroupRadioGrid3_{{ serverId }}" value="" onclick="toggleRadio(this, '{{ serverId }}')">
                        <label class="list-group-item rounded-3" for="listGroupRadioGrid3_{{ serverId }}">
                            <strong class="fw-semibold">Output Log</strong>
                        </label>
                    </div>
                    <label for="server-log_{{ serverId }}"></label>
                    <textarea class="form-control" id="server-log_{{ serverId }}" rows="10"></textarea>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-danger">Kill Server</button>
                </div>
            </div>
        </div>
    </div>
</div>