<!-- templates/terminal-output-modal.html -->
<div class="modal fade" id="outputModal" tabindex="-1" aria-labelledby="outputModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="min-width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="outputModalLabel">Server Manager Terminal Output</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <pre id="serverOutput"></pre>
            </div>
        </div>
    </div>
</div>